/* CSS reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Fonts */
@font-face {
    font-family: 'TT Norms Pro';
    src: url('public/fonts/TT Norms Pro Regular.woff2') format('woff2'),
        url('public/fonts/TT Norms Pro Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('public/fonts/TT Norms Pro Bold.woff2') format('woff2'),
        url('public/fonts/TT Norms Pro Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'TT Norms Pro', sans-serif;
    margin: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 20px;

    .nav-links {
        display: flex;
        gap: 50px;
        align-items: center;

        a {
            text-decoration: none;
            font-family: 'TT Norms Pro', sans-serif;
            color: #181E8F;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.3s;

            &:hover {
                text-decoration: underline;
            }

        }
        
        .active {
            text-decoration: underline;
        }
    }

    .profile-link {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-pic {
            width: 35px;
        }
    }
}