/* CSS reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Fonts */
@font-face {
    font-family: 'TT Norms Pro';
    src: url('public/fonts/TT Norms Pro Regular.woff2') format('woff2'),
        url('public/fonts/TT Norms Pro Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('public/fonts/TT Norms Pro Bold.woff2') format('woff2'),
        url('public/fonts/TT Norms Pro Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'TT Norms Pro', sans-serif;
    margin: 0;
}

nav {
    position: relative;

    .nav-links {
        display: none;
    }

    .nav-links.visible {
        display: flex;
        flex-direction: column;
        font-family: 'TT Norms Pro', sans-serif;
        font-weight: bold;
        font-size: 2.25rem;
        padding: 20px;
        /* background-color: red; */

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #181e8f;
            padding: 20px 0;
            transition: color 0.3s;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(24,30,143,0.18);
            }

            &.active {
                text-decoration: underline;
            }
        }
    }

    .profile-link {
        display: none;
        height: 25px;
    }

    .profile-link.visible {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
    }

    .nav-logo-burger {
        position: relative;
        width: 100vw;
        height: 50px;

        .logo {
            width: 30px;
            top: 50%;
            left: 3%;
            transform: translateY(-50%);
            position: absolute;
        }

        .burger-btn {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3%;
            height: 20px;
            margin: auto 0;
            display: flex;
            flex-direction: column;
            gap: 4px;

            span {
                display: block;
                width: 25px;
                height: 5px;
                position: relative;
                background: #181e8f;
                border-radius: 3px;
            }
        }
    }
}



/* Navbar */
/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 20px;

    .nav-links {
        display: flex;
        gap: 50px;
        align-items: center;

        a {
            text-decoration: none;
            font-family: 'TT Norms Pro', sans-serif;
            color: #181E8F;
            font-size: 1rem;
            font-weight: 700;
            transition: color 0.3s;

            &:hover {
                text-decoration: underline;
            }

        }
        
        .active {
            text-decoration: underline;
        }
    }

    .profile-link {
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-pic {
            width: 35px;
        }
    }
}

/* Formulaire de connexion */

.connexion_page {
    position: relative;
    text-align: center;
    font-family: 'TT Norms Pro Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #171D8F;
    background-color: #EEEDED;
    height: 100vh;
    width: 100vw;
}

h1 {
    position: relative;
    bottom: 30px;
    margin-bottom: 100px;
    font-size: 1.6rem;
}

.logo_title img {
    position: relative;
    left: 7px;
    top: 4px;
    height: 25px;
    width: 25px;
}

.form_connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
    border-radius: 22px;
    background-color: #FFF;
    width: 90%;
    max-width: 316px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.40);
}



.form_connexion img {
    position: relative;
    left: 7px;
    top: 4px;
    height: 25px;
    width: 25px;
}

.form_connexion h2 {
    font-size: 1.8 rem;
}

.form_connexion input {
    border: solid 1px #171D8F;
    border-radius: 6px;
    width: 90%;
    height: 25px;
}

.form_connexion label {
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 0.8rem;
    position: relative;
    top: 10px;
    right: 80px;
    background-color: #FFF;
    padding: 5px;
    z-index: 1;
}

.form_connexion input[type="submit"] {
    font-family: 'TT Norms Pro Bold';
    position: relative;
    bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #171D8F;
    color: white;
    width: 100px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.form_connexion a {
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 0.6rem;
    position: relative;
    bottom: 15px;
    color: #171D8F;
}

@media screen and (min-width: 834px) {
    .connexion_page h1 {
        position: relative;
        bottom: 120px;
        margin-bottom: 100px;
        font-size: 2rem;
    }

    .logo_title img{
        position: relative;
        left: 9px;
        top: 6px;
        bottom: 4px;
        height: 35px;
        width: 35px;
    }

    .form_connexion {
        position: relative;
        bottom: 80px;
        max-width: 437px;
        height: 90%;
        max-height: 331px;
    }

    .form_connexion h2 {
        margin-top: 20px;
    }


    .form_connexion input {
        height: 36px;
        width: 353px;
    }

    .form_connexion a {
        margin-bottom: 30px;
        position: relative;
        top: 8px;
    }

    .form_connexion input[type="submit"] {
        width: 117px;
        height: 33px;
        position: relative;
        top: 5px;
    }
}